<!DOCTYPE html>
<html>
  <head>
    <title>Keyless Wallet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <% include ./navBar %>
    <div class="main-background">
    <div class="container">

      <h1>About Keyless Wallet</h1>
    <p>
      <hr>
      <h4>Using the CREATE2 opcode (EIP-1014) to deploy counterfactual wallets for a 1-step user onboarding.</h4>
      <br><br>
      <div class="col-2">
          <a class="btn btn-block btn-primary" role="button" href="/"><h5>&larr; Main Page</h5></a>
      </div>
    </p>

  </div>
  <% include ./footer %>

    </body>

</div>
</html>
