<div class="footer">
    <div class='footer-item footer-one'>Dapps II</div>
    <div class='footer-item footer-two'>Powered by NodeJS, Truffle, Web3, Ethers, on the Ethereum Kovan Testnet!</div>
    <div class='footer-item footer-three'>yaneshcode</div>
</div>
