<div class="footer">
    <div class='footer-item footer-one'><a href="https://github.com/yaneshcode/keyless-wallet">Open Source - MIT</a></div>
    <div class='footer-item footer-two'>Made with&nbsp;<strike>love</strike>&nbsp;<b>a keyboard</b></div>
    <div class='footer-item footer-three'><a href="https://github.com/yaneshcode">yaneshcode</a></div>
</div>
